@import 'tailwindcss';

@plugin 'daisyui' {
  themes: synthwave, night --prefersdark;
}

@theme {
  --color-chart-dark: #0f0c28;
  --aspect-panoramic: 3/1;
}

@media (prefers-color-scheme: dark) {
  .loader {
    color: #4aa3e5 !important;
  }
}

@media (prefers-color-scheme: light) {
  .loader {
    color: #cb4aa1 !important;
  }
}

[data-theme='night'] .loader {
  color: #4aa3e5 !important;
}

[data-theme='synthwave'] .loader {
  color: #cb4aa1 !important;
}
